# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [4]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        minimum = min(a,b)
        return minimum
    elif a%2 == 1 or b%2 == 1:
        maximum = max(a, b)
    return maximum

In [6]:
# Check
lesser_of_two_evens(2,4)

2

In [7]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [8]:
def animal_crackers(text):
    for i in text.split():
        if i[0] == i[0]:
            return True
        elif i[0] != i[0]:
            return False

In [9]:
# Check
animal_crackers('Levelheaded Llama')

True

In [10]:
# Check
animal_crackers('Crazy Kangaroo')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [11]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [12]:
# Check
makes_twenty(20,10)

True

In [13]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [14]:
def old_macdonald(name):
    cap = name[0].capitalize()+name[1:3] + name[3].capitalize()+ name[4:]
    return cap

In [15]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [16]:
def master_yoda(text):
    lis = [i for i in text.split()]
    lis.reverse()
    l = ' '.join(lis)
    return l

In [17]:
# Check
master_yoda('I am home')

'home am I'

In [18]:
# Check
master_yoda('I am home')

'home am I'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [19]:
def almost_there(n):
    if n % n <= 9:
        return True
    else:
        return False

In [20]:
# Check
almost_there(104)

True

In [21]:
# Check
almost_there(150)

True

In [22]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [24]:
def has_33(nums):
    return any(nums[i+1] == nums[i] == 3 for i in range(len(nums) - 1))

In [25]:
# Check
has_33([1, 3, 3])

True

In [26]:
# Check
has_33([1, 3, 1, 3])

False

In [27]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [29]:
def paper_doll(text):
        com = [(i*3) for i in text]
        st = ''.join(com)
        return st

In [30]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [31]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [32]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif (sum([a,b,c]) > 21) and (11 in (a, b, c)):
        if sum([a, b, c]) -10 > 21:
            return "BUST"
        else:
            return sum([a, b, c])
    else:
        return "BUST"

In [33]:
# Check
blackjack(5,6,7)

18

In [34]:
# Check
blackjack(9,9,9)

'BUST'

In [35]:
# Check
blackjack(9,9,11)

29

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [36]:
def summer_69(arr):
    x = 0
    for i in arr:
        if i not in range(6, 10):
            x+=i
    return x

In [37]:
# Check
summer_69([1, 3, 5])

9

In [38]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [39]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [40]:
def spy_game(nums):
    #return '007' in ''.join(str(i) for i in nums)
    j = [0, 0 , 7]
    l = []
    for i in nums:
        for inte in j:
            if i == inte:
                l.append(i)
    if l.index(0) < l.index(7):
        return True 
    else:
        return False

In [41]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [42]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [43]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [44]:
def count_primes(num):
    n = 0
    
    for i in range(2,num):
        #if i <= 1:
            #continue
        for j in range(2,i):
            if (i%j) == 0:
                break
        else:
            n += 1
            
            
    return n

In [45]:
# Check
print(count_primes(100))

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [46]:
def print_big(letter):
    number = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    let = {'A': [1,2,4,3,3], 'B': [5,3,5,3,5], 'C': [5,9,9,9,5]}
    for i in let[letter.upper()]:
        print(number[i])

In [47]:
print_big('b')

****
*   *
****
*   *
****